workflows/linear-order-pipeline.json
{
  "name": "Linear Order Pipeline (6 JavaScript Nodes, Loop 6\u21921)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-pipeline-loop",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2000001-0000-4000-8000-000000000001",
      "name": "Webhook (Loop Entry \u2192 Node 1)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        300
      ],
      "webhookId": "order-pipeline-loop"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"accepted\": true, \"cycle\": $json.body?.cycle ?? $json.cycle ?? 0 } }}",
        "options": {}
      },
      "id": "b2000002-0000-4000-8000-000000000002",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ITEMS = ['Coffee Mug', 'Notebook', 'USB Cable', 'Desk Lamp', 'Water Bottle'];\nconst results = [];\n\nfor (const item of $input.all()) {\n  const payload = item.json;\n  const state =\n    payload.body && typeof payload.body === 'object' ? payload.body : payload;\n  const cycle = Number(state.cycle ?? 0);\n\n  results.push({\n    json: {\n      cycle,\n      order_id: 'ORD-' + String(Math.floor(10000 + Math.random() * 90000)),\n      item: ITEMS[Math.floor(Math.random() * ITEMS.length)],\n      quantity: Math.floor(Math.random() * 5) + 1,\n      unit_price: Math.round((5 + Math.random() * 45) * 100) / 100,\n      created_at: new Date().toISOString(),\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "b2000003-0000-4000-8000-000000000003",
      "name": "1. Generate Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const subtotal = Math.round(data.quantity * data.unit_price * 100) / 100;\n  results.push({ json: { ...data, subtotal } });\n}\n\nreturn results;\n"
      },
      "id": "b2000004-0000-4000-8000-000000000004",
      "name": "2. Calculate Subtotal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const TAX_RATE = 0.08;\nconst results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const tax_amount = Math.round(data.subtotal * TAX_RATE * 100) / 100;\n\n  results.push({\n    json: {\n      ...data,\n      tax_rate: TAX_RATE,\n      tax_amount,\n      total_before_discount: Math.round((data.subtotal + tax_amount) * 100) / 100,\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "b2000005-0000-4000-8000-000000000005",
      "name": "3. Add Tax",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const DISCOUNT_THRESHOLD = 40.0;\nconst DISCOUNT_PERCENT = 10;\nconst results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const total_before = data.total_before_discount;\n\n  let discount_percent = 0;\n  let discount_amount = 0;\n\n  if (total_before >= DISCOUNT_THRESHOLD) {\n    discount_percent = DISCOUNT_PERCENT;\n    discount_amount =\n      Math.round(total_before * (discount_percent / 100) * 100) / 100;\n  }\n\n  results.push({\n    json: {\n      ...data,\n      discount_percent,\n      discount_amount,\n      final_total: Math.round((total_before - discount_amount) * 100) / 100,\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "b2000006-0000-4000-8000-000000000006",
      "name": "4. Apply Discount",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n\n  const lines = [\n    `--- RECEIPT ${data.order_id} ---`,\n    `Item:     ${data.item}`,\n    `Qty:      ${data.quantity} x $${data.unit_price.toFixed(2)}`,\n    `Subtotal: $${data.subtotal.toFixed(2)}`,\n    `Tax (${Math.round(data.tax_rate * 100)}%):    $${data.tax_amount.toFixed(2)}`,\n  ];\n\n  if (data.discount_amount > 0) {\n    lines.push(\n      `Discount (${data.discount_percent}%): -$${data.discount_amount.toFixed(2)}`\n    );\n  }\n\n  lines.push(`TOTAL:    $${data.final_total.toFixed(2)}`);\n  lines.push('------------------------');\n\n  results.push({ json: { ...data, receipt: lines.join('\\n') } });\n}\n\nreturn results;\n"
      },
      "id": "b2000007-0000-4000-8000-000000000007",
      "name": "5. Format Receipt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const cycle = Number(data.cycle ?? 0);\n  const next_cycle = cycle + 1;\n\n  results.push({\n    json: {\n      cycle,\n      next_cycle,\n      last_order_id: data.order_id,\n      last_final_total: data.final_total,\n      last_receipt: data.receipt,\n      stage: 'loop_ready',\n      loop_payload: {\n        cycle: next_cycle,\n        running: true,\n      },\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "b2000008-0000-4000-8000-000000000008",
      "name": "6. Prepare Next Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "b2000009-0000-4000-8000-000000000009",
      "name": "Wait 2 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1540,
        300
      ],
      "webhookId": "wait-order-pipeline"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REPLACE_WITH_YOUR_WEBHOOK_PRODUCTION_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.loop_payload }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b2000010-0000-4000-8000-000000000010",
      "name": "Loop Back to Node 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {},
      "id": "b2000011-0000-4000-8000-000000000011",
      "name": "Manual Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "cycle",
              "value": 0,
              "type": "number"
            },
            {
              "id": "a2",
              "name": "running",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "b2000012-0000-4000-8000-000000000012",
      "name": "Set Initial State",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        120
      ]
    },
    {
      "parameters": {
        "content": "## Linear Order Pipeline (6 JavaScript Nodes)\n\n**Flow:** 1 \u2192 2 \u2192 3 \u2192 4 \u2192 5 \u2192 6 \u2192 (webhook) \u2192 **1** again\n\n**Stop:** Deactivate workflow.",
        "height": 160,
        "width": 380
      },
      "id": "b2000013-0000-4000-8000-000000000013",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        40
      ]
    }
  ],
  "connections": {
    "Webhook (Loop Entry \u2192 Node 1)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "1. Generate Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Generate Order": {
      "main": [
        [
          {
            "node": "2. Calculate Subtotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Calculate Subtotal": {
      "main": [
        [
          {
            "node": "3. Add Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Add Tax": {
      "main": [
        [
          {
            "node": "4. Apply Discount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Apply Discount": {
      "main": [
        [
          {
            "node": "5. Format Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Format Receipt": {
      "main": [
        [
          {
            "node": "6. Prepare Next Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Prepare Next Loop": {
      "main": [
        [
          {
            "node": "Wait 2 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Seconds": {
      "main": [
        [
          {
            "node": "Loop Back to Node 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Start": {
      "main": [
        [
          {
            "node": "Set Initial State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Initial State": {
      "main": [
        [
          {
            "node": "1. Generate Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 3600
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "testing"
    },
    {
      "name": "javascript"
    },
    {
      "name": "linear"
    }
  ]
}